body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: #181818;
}

.header {
  background-color: black;
  height: 50px;
  padding-top: 7px;
  display: flex;
  justify-content: space-between;
}
.heder_item-1 {
  font-family: "Vazirmatn", Tahoma, Arial, sans-serif;
  font-size: 18px;
  margin-right: 13px;
  color: aliceblue;
}
.heder_item-2 {
  font-family: "Vazirmatn", Tahoma, Arial, sans-serif;
  font-size: 18px;
  margin-right: 13px;
  color: aliceblue;
}
.header_item-3 {
  font-family: "Vazirmatn", Tahoma, Arial, sans-serif;
  font-size: 18px;
  margin-right: 13px;
  color: aliceblue;
}
.body_top {
  font-family: "Vazirmatn", Tahoma, Arial, sans-serif;
  font-weight: 10px;
  color: aliceblue;
  margin-right: 25px;
  margin-bottom: 10.2rem;
  text-align: center;
}
.body_top h2 {
  font-size: 35px;
  margin: 33px;
  padding: 25px;
}
.body_top p {
  font-size: 1.8rem;
}
img {
  width: 200px;
  height: 300px;
}
a {
  text-decoration: none;
  color: aliceblue;
  padding-right: 15px;
  text-align: center;
}
.login {
  position: fixed;
  border: 1px solid white;
  text-align: center;
  margin-right: 15px;
  padding: 7px 17px 3px 23px;
  margin-top: 5px;
  right: 0;
}
.sign {
  position: fixed;
  border: 1px solid red;
  border-radius: 4px;
  text-align: center;
  background-color: red;
  padding: 7px 17px 3px 23px;
  margin-top: 5px;
  right: 90px;
}
.filter {
  position: fixed;
  border: 1px solid white;
  margin-left: 15px;
  text-align: center;
  padding: 7px 17px 3px 23px;
  margin-top: 5px;
  left: 0;
}
.body {
  margin-top: 15px;
  display: flex;
  gap: 10px;
  justify-content: space-around;
  overflow-x: scroll;
  scrollbar-width: none;
  margin-bottom: 100px;
}
span {
  display: block;
  color: white;
  margin-top: 3px;
}
